body{
	background-image: url(../images/background.jpeg);
    background-size: cover;
}
.material-icons{
	outline:none!important;
}
.portFolioHeader{
    background-color: rgba(29, 28, 28, 0.8);
    padding: 20px;
}
.headerCont{
	width:100%;
	display:flex;
	flex-direction:column;
	align-items:center;
}
.headerCont p{
	font-size:1.2em;
	margin:0;
	color:#FFF;
	text-align:center;
}

.overview-image{
	padding: 0;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
    border: 10px solid #FFF;
}
.profileImage{
	background-image: url("../images/profile.jpg");
    width: 125px;
    height: 125px;
    background-position: 50% 37%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius:50%;
}

.profileInfo{
	margin-left:1em;
}
.portFolioNav{
	height:40px;
}
.choosenOption{
	border-bottom:2px solid white;
	border-radius:0!important;
}
.choosenOption:hover{
	font-style:initial!important;
}
.skillCard{
	margin:10px 0;
	padding:0.5em;
}

.skillCard img{
	max-width:150px;
	height:150px;
	padding:10px;
}
.navUl{
	margin:0;
	padding:10px 0;
	background-color:black;
}
.navLi{
	outline:none!important;
	justify-content: center;
	display:flex;
	align-items:center;
}
.navLiContainer{
	display:flex;
	justify-content: center;
	align-items:center;
	border-radius:0.25rem;
	color:#FFF;
	padding: 0 5px 0 5px;
	outline:none;
}
.navLiContainer:hover{
	background-color:#FFF;
	color:black !important;
	transition:0.2s;
	font-style:italic;
	cursor:pointer;
}
.navLi a{
	outline:none!important;
	color:inherit;
	text-decoration:none;
	display:flex;
}
.navLi i{
	color:none;
	margin-right:5px;
}
.navLiContNoHover:hover{
	background-color:inherit!important;
	color:#fff!important;
	transition:none!important;
	cursor:default!important;
}

.outletContainer{
	padding:50px;
}
.outletContainer skills{
	width:100%;
	display:flex;
	flex-wrap:wrap;
}
.outletContainer contact{
	width:100%;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}
.outletContainer about{
	width:100%;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}
.outletContainer overview{
	width:100%;
	display:flex;
	flex-wrap:wrap;
}
.aboutJob{
	display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction:column;
}
.aboutJob p{
	flex-grow:1;
	margin:0;
}
.aboutSkill{
	padding:10px 15px;
	display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction:column;
}
.aboutSkill p{
	flex-grow:1;
	margin:0;
}
.aboutContainer{
    display: flex;
    justify-content: center;
	padding: 15px;
    text-align: justify;
}
.aboutContainer span{
	font-size: 1.8em;
    line-height: 1.5em;
}

.skillName{
	text-align:center;
	width:100%;
	font-size:2em;
	color:#4d4949;
	margin:0;
	padding:0;
}

.jobCard{
	margin:10px;
	padding:1em 2em;
}
.jobProyects{
	margin:0;
}
.jobName{
	width:100%;
	text-align:center;
	font-size:1.5em;
	color:#4d4949;
}

.card{
	box-shadow:0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
	background-color: rgba(255, 255, 255, 0.9);
}
.contactCard{
	padding:20px;
	flex-grow: 0.2;
    justify-content: center;
    display: flex;
}
.contactDetails > h4{
	text-align:center;
}
.contactDetails p{
	margin:0;
	padding:0;
	text-align:center;
}
.cvLink{
	margin-right:5px;
}