@media(max-width:576px){
	.appNavBar{
		padding:0 1em;
	}
	.element-name{
		justify-content: center;
	}
	list-filter>.row>div{
		justify-content: center!important;
	}
	.listFilter{
		width:100%!important;
	}
	.element-list-li > div:first-child{
		text-align:center;
	}
}
@media(max-width:400px){
	.navBarText>label:first-child{
		display:none;
	}
	.navBarText>label:nth-child(2){
		text-align:right;
	}
}