@media (max-width:450px){
	.skillCard{
		position:relative;
		margin:70px 0 0 0;
	}
	.skillCard img{
		position:absolute;
		top:-60px;
		left:calc(50% - 60px);
		border-radius:50%;
		background-color:#FFF;
		width:120px;
		height:120px;
	}
	.aboutSkill{
		width:100%!important;
		margin:3em 0 0 0!important;
		flex:none!important;
		max-width:none!important;
	}
	.jobCard{
		padding:1em 10px!important;
	}
}

@media (max-width:500px){
	body{
		background-repeat: repeat;
    	height: auto;
	}
	.contactDetails > h4{
		font-size:20px;
	}
}
@media (max-width: 630px) {
	.navLi a{
		display:none;
	}
	.navLi i{
		margin:0;
	}
}
@media (max-width:800px){
	.jobCard{
		padding: 1em 3em;
	}
}