<header class="portFolioHeader">
	<div class="headerCont">
		<div class="profileImage">
	    </div>
	    <p><strong>Neiro Andres Torres Castro</strong></p>
	</div>
</header>

<nav class="portFolioNav">
	<ul class="navUl">
		<li class="navLi">
			<i class="material-icons" [routerLink]="['/overview']">account_box</i>
			<a class="navLink" [routerLink]="['/overview']">Resumen</a>
		</li>
		<li class="navLi">
			<i class="material-icons" [routerLink]="['/skills']">trending_up</i>
			<a class="navLink" [routerLink]="['/skills']">Habilidades</a>
		</li>
		<li class="navLi">
			<i class="material-icons" [routerLink]="['/experience']">work</i>
			<a class="navLink" [routerLink]="['/experience']">Experiencia laboral</a>
		</li>
		<li class="navLi">
			<i class="material-icons" [routerLink]="['/contact']">contact_mail</i>
			<a class="navLink" [routerLink]="['/contact']">Contacto</a>
		</li>
	</ul>	
</nav>

<div class="outletContainer">
	<router-outlet></router-outlet>
</div>