body{
	background-image: url(../images/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height:100%;
}
.portFolioHeader{
    background-color: rgba(29, 28, 28, 0.8);
    padding: 20px;
}
.headerCont{
	width:100%;
	display:flex;
	flex-direction:column;
	align-items:center;
}
.headerCont p{
	font-size:1.2em;
	margin:0;
	color:#FFF;
}

.overview-image{
	background-image: url("../images/me.jpg");
	width:250px;
	height:250px;
	background-position: 50%;
    background-size: cover;
    border-radius:50%;
    box-shadow:0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
    border:10px solid #FFF;
}
.profileImage{
	background-image: url("../images/profile.jpg");
    width: 125px;
    height: 125px;
    background-position: 50% 37%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius:50%;
}

.profileInfo{
	margin-left:1em;
}
.portFolioNav{
	height:40px;
}
.navUl{
	list-style:none;
	display:flex;
	margin:0;
	padding:0;
	justify-content: center;
	height:100%;
	align-items:center;
	background-color:black;
}
.navLi{
	justify-content: center;
	flex-grow:1;
	display:flex;
	align-items:center;
}
.navLi a{
	color:white;
	text-decoration:none;
	display:flex;
}
.navLi i{
	color:#FFF;
	margin-right:5px;
}
.navLi:hover{
	text-decoration:underline;
	cursor:pointer;
	font-style:italic;
}

.outletContainer{
	padding:50px 7.5%;
	display:flex;
	height:48%;
	overflow-y:scroll;
}
.outletContainer skills{
	width:100%;
	display:flex;
	flex-wrap:wrap;
}
.outletContainer experience{
	width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.outletContainer contact{
	width:100%;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}
.outletContainer overview{
	width:100%;
	display:flex;
	flex-wrap:wrap;
}
.skillCard{
	margin:10px 10px;
	display:flex;
	flex:1 0 42%;
	padding:15px;
	align-items:center;
}

.skillCard img{
	width:150px;
	height:150px;
	padding:10px;
}

.aboutSkill{
	display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction:column;
}
.aboutSkill p{
	flex-grow:1;
	margin:0;
}
.aboutContainer{
	padding:15px;
	display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 20px 0 0;
    width:50%;
}
.aboutContainer span{
	font-size: 1.8em;
    margin: 10px 0;
    display: block;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    line-height: 1.5em;
}

.skillName{
	font-size:1.3em;
	color:#4d4949;
	margin:0;
	padding:0;
}

.jobCard{
	margin:10px 10px;
	display:flex;
	flex:1 0 41%;
	padding:15px;
	align-items:flex-start;
}
.jobProyects{
	margin:0;
}
.jobName{
	font-size:1.5em;
	color:#4d4949;
}

.card{
	box-shadow:0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
	background-color: rgba(255, 255, 255, 0.9);
	max-height:11.6em;
}
.contactCard{
	padding:20px;
	flex-grow: 0.2;
    justify-content: center;
    display: flex;
}
.contactDetails p{
	margin:0;
	padding:0;
	text-align:center;
}
.overview-container{
	display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.overview-image{
	flex-shrink:0;
}